  <%= form_for @restaurant do |f| %>
    <%= f.label :name, "Cart Name" %>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.label :address, "Street Address"%>
    <%= f.text_field :address, class: "form-control" %>
    <p>Portland, Oregon</p>
    <%= f.label :zip, "Zip Code" %>
    <%= f.text_field :zip, class: "form-control" %>
    <%= f.label :website %>
    <%= f.text_field :website, class: "form-control" %>
    <%= f.submit "Create Cart Page", class: "btn btn-primary" %>
  <% end %>